<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Qué Hacer</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Selecciona si la nota es o no importante</ion-label>
      <select formControlName="option">
        <option *ngFor="let option of options" [value]="option.value" [selected]="option.value === true">
            {{ option.name }}
        </option>
    </select>
    </ion-item>

    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!todo.valid">Guardar</ion-button>

  </form>
  
</ion-content>
