<ion-header no-border>
  <ion-toolbar>
        <ion-title style="
          padding-top: 4%;">
          Listado
        </ion-title>
  </ion-toolbar>
  <ion-searchbar id="mySearchbar" #searchBar id="searchBar" showCancelButton="focus" cancelButtonText="Cancelar" placeholder="Buscar" 
        (ionInput)="getFilteredItem($event)" (ionClear)="cleared()" (ionCancel)="onCancel()">
        
  </ion-searchbar>
  <form [formGroup]="importance">
    <ion-item>
      <ion-label>Filtrar</ion-label>
      <select formControlName="selectImportance" #importanceSelect (change)='onOptionsSelected(importanceSelect.value)'>
        <option *ngFor="let option of options" [value]="option.value" [selected]="option.value === false">
          {{ option.name }}
        </option>
    </select>
    </ion-item>
  </form>
</ion-header>

<ion-content>
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-down-outline"
        pullingText="Arrastra para refrescar"
        refreshingSpinner="crescent"
        refreshingText="Cargando...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list #dynamicList id="dynamicList">
      <ion-item-sliding *ngFor="let item of listadoPanel; let i = index" style="
      max-width: 95%;
          margin: auto;
          margin-bottom: 2%;
      ">
        <ion-item style="
          --border-style: none;
          --background: beige;
          --border-radius: 1em;
        ">
          <ion-label (click)="mostrarEvento($event)"><h2>{{item.title}}</h2><p>{{item.description}}</p><p><b>{{item.created_at}}</b></p></ion-label>
        </ion-item>
        <ion-item-options side="end" (ionSwipe)="borraNota(item.id)">
          <ion-item-option color="danger" expandable (click)="borraNota(item.id)">
            <ion-icon name="remove-circle" style="zoom:4.0"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="editaNota(item.id)">
            <ion-icon name="create" style="zoom:4.0"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="irNueva()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
