<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="contact" (ngSubmit)="sendMailForContact()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input type="text" formControlName="surnames"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Escriba un comentario</ion-label>
      <ion-textarea formControlName="comentary"></ion-textarea>
    </ion-item>

    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!contact.valid">Guardar</ion-button>

  </form>
  
</ion-content>
