<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="create"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Selecciona si la nota es o no importante</ion-label>
      <select formControlName="option">
        <option *ngFor="let option of options" [value]="option.value">
            {{ option.name }}
        </option>
    </select>
    </ion-item>
    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!todo.valid">Editar</ion-button>
    <ion-button shape="round" color="danger" fill="outline" (click)="closeModal()">Cancelar</ion-button>
  </form>

</ion-content>